/* Responsive design + Animations dynamiques */

/* Responsive design */

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1440px */
/* Section hébergements */
/* Aside populaires */
@media all and (max-width: 1440px){ 

    .populaires{
        width: 96%;
    }

    .articlePopulaires{
        display: flex;
    }

    .cartePopulaires{
        height: 82%;
    }
}
/* Fin aside populaires */
/* Partie hébergements */
@media all and (max-width: 1440px){
    #hebergements{
        width: 96%;
        margin-left: 10px;
    }
}
/* Fin partie hébergements */
/* Fin section hébergements */
/* Fin 1440px */

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 824px */
/* Header */
@media all and (max-width: 824px){ 
    .header{
      height: 140px;
      flex-wrap: wrap-reverse;
      padding-left: 0px;
      padding-right: 0px; 
  }

  .hebergementsActivites{
      width: 100%;
  }

  #logoReservia{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
  }

  .inscription{
    margin-right: 20px;
  }

  .headerBarreUn{
      border-bottom: 3px solid #0065fc;
      border-top-style: none;
      width: 100%;
  }

  .headerBarreUnUn{
    width: 100%;
  }

  .headerBarreUn a{
      align-items: flex-start;
  }

  .headerBarreDeux{
      border-bottom: 3px solid #f2f2f2;
      border-top-style: none;
      width: 100%;
  }

  .headerBarreDeuxDeux{
      width: 100%;
  }

  .headerBarreDeux a{
      align-items: flex-start;
  }

  .headerBarreDeux:hover{
      border-bottom: 3px solid #0065fc;
      border-top-style:none;

  }
}
/* Fin Header */
/* Section rechercher */ 
@media all and (max-width: 824px){
    .filtres{
        flex-wrap: wrap;
    }

    .titreFiltres{
        width: 80%;
    }

    .rechercheFiltres a{
        margin-top: 10px;
    }

}
/* Fin section rechercher */
/* Section hebergements */
/* Carte hebergements */
@media all and (max-width: 824px){
  .sectionHebergements{
      flex-direction: column-reverse;
      width: 100%; 
      justify-content: center;
      align-items: center;
  }

  #hebergements{
      width: 96%;  
      padding: 0px;   
  }

  .headerHebergements h2{
    padding-left: 20px;
  }

  .headerHebergements{
      height: 70px;
  }

  .afficherHebergements{
      height: 40px;
  }

  .carteHebergements {
      width: 42%;
      margin: 10px 20px 10px 20px;
  }
}
/* Fin carte hebergements */
/* Aside populaires */
@media all and (max-width: 824px){
  .populaires{
      margin-left: 0px;
      width: 96%;
      padding: 0px;
  }

  .articlePopulaires{
      display: flex;
  }

  .titrePopulaires h2{
    padding-left: 20px;
  }

  .headerPopulaires p{
      padding-right: 20px;
  }

  .imageCartePopulaires img{
      height: 100%;
      border-radius: 15px 15px 0px 0px;
      width: 100%;
  }

  .cartePopulaires{
      width: 28%;
  }

  .cartePopulaires a{
      flex-direction: column;
  }

  .descriptionPopulaires h3{
      font-size: 0.9em;
    }

  .descriptionPopulaires p{
      font-size: 1em;
    }

  .descriptionPopulaires{
      width: 90%;
      height: 100px;
  }
}
/* Fin aside populaires */
/* Fin section hebergements */
/* Section activités */
@media all and (max-width: 824px){
    .sectionActivites{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .titreActivites{
        padding-left: 0px;
    }

    .carteActivitesUn{
        width: 45%;
        height: 587px;
    }

    .imageActivitesUn img{
        height: 500px;
    }

    .imageActivitesDeux img{
        height: 200px;
    }

    .imageActivitesFort img{
        height: 270px;
    }

    .imageActivitesFrioul img{
        height: 131px;
    }

    .descriptionActivitesUn{
        height: 80px;
    }

    .descriptionActivitesDeux{
        height: 80px;
    }

    .activitesDeux{
        width: 45%;
    }
}
/* Fin section activités */
/* Footer */
@media all and (max-width: 650px){
    .footerWidth{
        flex-direction: column;
    }

    .footerWidth ul{
        font-size: 1em;
    }
}
/* Fin partie footer */ 
/*Fin 824px */

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 650px */
/* Header */
@media all and (max-width: 650px){

    #logoReservia{
        width: 100px;
    }

    .inscription a{
        font-size: 0.8em;
    }
    .hebergementsActivites a{
        font-size: 0.8em;
    }  
}
/* Fin header */
/* section rechercher */
@media all and (max-width: 650px){
    .sectionRechercher h1{
        font-size: 1.2em;
    }

    .sectionRechercher p{
        font-size: 0.8em;
    }

    .sectionRechercher{
        margin-bottom: 0px;
    }

    .sectionRechercher{
        height: 80px;
    }

    .fassamap{
        height: 36px;
        width: 36px;
        font-size: 1em;
    }

    .bouton_A{
        height: 38px;
        padding: 0px 10px 0px 10px;       
    }

    .bouton_B{
        position: relative;
        right: 8px;
        border-radius: 10px;
        height: 38px;
        width: 40px;
        font-size: 1em;
    }

    .bouton_Bsearch{
        display: none;
    }

    .filtres{
        font-size: 0.8em;
    }

    .footerRechercher{
        font-size: 0.8em;
    }
}
/* Fin section rechercher */
/* Section hébergements */
/* Aside populaires */
@media all and (max-width: 650px){
    .populaires{
        border-radius: 0px;
        width: 100%;
    }

    .titrePopulaires h2{
        font-size: 1.2em;
    }

    .articlePopulaires{
        flex-direction: column;
        align-items: center;
    }

    .cartePopulaires{
        width: 86%;
    }

    .cartePopulaires a{
        flex-direction: row;
    }

    .imageCartePopulaires img{
        border-radius: 15px 0px 0px 15px;
    }
}
/* Fin aside populaires */
/* Partie hébergements */
@media all and (max-width: 650px){
    #hebergements{
        background: none;
        width: 100%;
        margin: 0px;
    }

    .headerHebergements h2{
        font-size: 1.2em;
    }

    .headerHebergements{
        padding-left: 0px;
    }

    .carteHebergements{
        width: 100%;
    }

    .descriptionHebergements h3{   
        font-size: 1em; 
    }

    .descriptionHebergements p{
        font-size: 0.8em;
    }
}
/* Fin partie hébergements */
/* Fin section hébergements */
/* Section activités */
@media all and (max-width: 650px){
    .titreActivites h2{
        font-size: 1.2em;
        padding-left: 20px;
    }

    .sectionActivites{
        flex-direction: column;
        padding: 0px;
        margin-top: 20px;
        width: 100%;
    }

    .carteActivitesUn{
        width: 88%;
        height: 15%;
        margin-left: 20px;
        margin-right: 20px;       
    }

    .imageActivitesUn img{
        height: 200px;
    }

    .imageActivitesFort img{
        height: 200px;
    }

    .imageActivitesFrioul img{
        height: 200px;
    }

    .activitesDeux{
        width: 88%;
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* Fin section activités */
/* Footer body */
@media all and (max-width: 650px){
    .footerBody{
        width: 100%;
        font-size: 0.6em;
    }

    .footerWidth ul{
        width: 80%;
        margin-right: 0px;
        margin-left: 0px;
    }
}
/* Fin 650px */
/* Fin reponsive design */

/* Animations dynamiques */
/* Sur les écrans, quand la largeur de la fenêtre fait au minimum 651px */
@media all and (min-width: 651px){
.bouton_B i{
    display: none;
}
}
/* Fin 651px */
/* Sur les écrans, quand la largeur de la fenêtre fait au minimum 825px */
@media all and (min-width: 825px){
.headerBarreDeux:hover{
      border-top: 3px solid #0065fc;
}
}
/* Fin 825px */

/* Animations permanente */
.headerBarreUn a:hover{
    font-weight: bold;
}

.headerBarreDeux a:hover{
    color: #0065fc;
    font-weight: bold;
}

.zoomUn:hover{
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -moz-transform:scale(1.01); /* Firefox */
    -ms-transform:scale(1.01); /* IE 9 */
    -o-transform:scale(1.01); /* Opera */
     transform:scale(1.01);
}

.rechercheFiltres a:hover{
    background: #eef5ff;
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
     transform:scale(1.03);
}

.afficherHebergements:hover{
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
     transform:scale(1.03);
}

.footerBody a:hover
{
    text-decoration: underline;
}
/* Fin animations permanente */
/* Fin animations dynamiques */

